<a href="/catway/list"><button>Retour</button></a>
 <div class="form-container">
    <h3>Détails de la réservation</h3>
        <div class="form-group d-flex">
            <div>N° de catway : </div>
            <div>{{catwaydetail.catwayNumber}}</div>
        </div>
        <div class="form-group d-flex">
            <div>Type de catway : </div>
            <div>{{catwaydetail.type}}</div>
        </div>
        <div class="form-group d-flex">
            <div>Etat du catway : </div>
            <div>{{catwaydetail.catwayState}}</div>
        </div>
       

  </div>