  <div class="form-container">
    <p>Bienvenue sur l'application de gestion du port de plaisance Russell. Après connexion, vous pourrez gérer:</p>
      <ul>
        <li>les utilisateurs de l'application</li>
        <li>les catways</li>
        <li>les réservations</li>
      </ul>
    <p>Bonne utilisation!!!!</p>
    <h3>Connexion</h3>
    <form action="/login" method="POST">
       
        <div class="form-group">
            <label for="mail">Mail utilisateur</label>
            <input type="email" id="mail" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe utilisateur</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Se connecter</button>
    </form>
    <a href="/documentation"><button>Documentation</button></a>

  </div>